<p>Main View Works!</p>

<div *ngIf="username; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><p>Bienvenido {{username}}</p></ng-template>
<ng-template #elseBlock><p>Nos gustaria saludarlo, cual es su nombre?</p></ng-template>


<div [formGroup]='formGroup'>
  <input 
                id="username" 
                formControlName="username"  
                
        />
</div>
<button (click)='onSubmit();'  >Submit</button>

<p></p>
<a routerLink="/view" routerLinkActive="active">ViewDemo Component</a>
<p></p>
<button (click)='onClick();'  >ViewDemo Component Redirect</button>

<router-outlet></router-outlet>